
{% extends 'web/nav_bar.html' %}

{% block content %}
<h2 class="text-white font-staatliches text-4xl text-center py-5">CHOOSE A PLAYER IN {{ equipo.name }}</h1>
    <ul>
        {% for jugador in jugadores %}
        <div class = "flex justify-center py-2">
            <div class="flex items-center w-full max-w-xl p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:bg-blue-800 dark:text-blue-200">
                    <ion-icon name="happy-outline"></ion-icon>            
                    <span class="sr-only">Fire icon</span>
                </div>
                <div id="team">                 
                </div>
                <div class="ml-3 text-sm font-mono text-center flex-grow">
                    <a href="{% url 'Jugador' jugador.id %}">{{ jugador.name }}</a>
                </div>
                {% if user.is_authenticated %}
                <div class="justify-end">
                    <a href="{% url 'update_player' jugador.id %}"><button class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900"">Update</button></a>
                    <a href="{% url 'delete_player' jugador.id %}"><button class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Delete</button></a>
                </div>
                {% endif %}
            </div>
        </div>
            
        {% endfor %}
        {% if user.is_authenticated %}
            <div class = "flex justify-center py-2">
                <a href="{% url 'create_league' %}" class="hover:border-blue-500 hover:border-solid hover:bg-white hover:text-blue-500 group w-full max-w-xl p-4 flex flex-col items-center justify-center rounded-md border-2 border-dashed border-slate-300 text-sm leading-6 text-white font-mediumdark:text-gray-400 dark:bg-gray-800">
                    <svg class="group-hover:text-blue-500 mb-1 text-white" width="20" height="20" fill="currentColor" aria-hidden="true">
                      <path d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z" />
                    </svg>
                    New PLAYER
                  </a>
            </div>
        {% endif %}
    </ul>
{% endblock %}
