{% extends 'web/nav_bar.html' %}

{% block content %}
<h2>Log in</h2>

<form class="formStyle" action="" method=POST>
    {% csrf_token %}
    <div>
        <label for="InputUsername1">Username</label>
        <input type="text" name="username"/>
    </div>
    <br>
    <div>
        <label for="InputPassword1">Password  </label>
        <input type="password" name="password" id="">
    </div>
    <br>
    <input type="submit" value="Submit">
</form>
<a class="moveToRegister" href="{% url 'register' %}">You don't have an account?</a>
{% endblock %}